body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: rgb(255, 203, 5);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.big_div {
    border: 3px solid #2E549B;
    margin: 30px;
    padding: 20px;
}

.pokemon_name {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    color: #ffd63e;
}

.sub_div {
    display: flex;
    align-items: center;
    gap: 30px;
}

img {
    width: 250px;
    padding-right: 20px;
}

#special {
    font-weight: bold;
    color: rgb(255, 203, 5);
}